<!DOCTYPE html>
<html>
  <head>
    <title>Address Book</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../Content/css/styles/css'>
  </head>
  <body>
    <div class="container">
      <h1>You created a contact! </h1><br>

      <h4>@Model[Model.Count-1].GetName()</h4>
      <ul>
        <li>@Model[Model.Count-1].GetPhone()</li>
        <li>@Model[Model.Count-1].GetAddress()</li>
      </ul>
      <br>

      <a href= '/index'>View all contacts</a><br>
      <a href="/contacts/new">Add a new contact</a>
    </div>
  </body>
</html>
