<h1>Contacts</h1>
<h3>Add a new contact:</h3>
<form action='/index' method='post'>
  <label for='new-contact-name'>Contact Name</label>
  <input id='new-contact-name' name='new-contact-name' type='text'>

  <label for='new-contact-phone'>Contact Phone</label>
  <input id='new-contact-phone' name='new-contact-phone' type='text'>

  <label for='new-contact-address'>Contact Address</label>
  <input id='new-contact-address' name='new-contact-address' type='text'>

  <button type='submit'>Add contact</button>
</form>
