<h1>You created a contact! </h1>

<h1>@Model[Model.Count-1].GetName()</h1>
<ul>
  <li>@Model[Model.Count-1].GetPhone()</li>
  <li>@Model[Model.Count-1].GetAddress()</li>
</ul>


<a href= '/index'>View all contacts</a>
